<html>
<head>
<style>
body {background-color: Hex 323441;}
h1   {color: HEX CCA3A9 ;
      font-family: serif typefaces;
      font-size: 300%;
      border: 2px solid HEX 090A0E;
      padding: 30px;
      margin: 50px
     }
p    {color: HEX E8CCD7; 
      font-family: serif typefaces;
      font-size: 160%;
      border: 2px solid HEX 090A0E;
      padding: 30px;
      margin: 50px
     }
</style>
</head>
</html>
