body {
    background-color: rgb(28, 31, 50);
}

h1 {
    color: rgb(208, 128, 165);
    border: 2px solid rgb(28, 31, 50);
    padding: 30px;
    margin: 50px;
}

p {
    color: rgb(234, 193, 212);
    border: 2px solid rgb(28, 31, 50);
    padding: 30px;
    margin: 50px;
}
